*{
    margin: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: brown;
    height: 2.5rem;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 1.6rem;
    font-family: fantasy;
    font-size: larger;
    transition: all .5s ease-in-out;
    border-radius: 2rem;
}

#page-title {
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


button:hover{
    cursor: pointer;
    background-color: cadetblue;
    color: white;
}